body {
  background-color: #1a1a1a;
  color: white;
  display : flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.container {
   display: flex;
   width: 900px;
   background-color: #000;
   border-radius: 10px;
 
}
.container::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url('./img/login.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   filter: brightness(50%);
   z-index: -1;;
}

h2 {
   font-size: 24px;
   margin-bottom: 10px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
   font-size: 30px;
   margin-bottom: 10px;

}

righ-panel {
   flex: 1;
   background-color: #111;
   padding: 40px;
}

p {
   text-align: center;
   margin: 15 px 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 20px

}

info {
  display: flex;
  gap: 10px;
  align-items: center;
}


button {
   width: 50%;
   border-radius: 50px;
   font-weight: bold;
   border: 1px solid white;
   padding: 15px;
   margin: 12px 45px;
   background-color: #7bff;
   color: white;
   font-size: 16px;
   letter-spacing: 1px;
   cursor: pointer;
 
}

button:hover {
   background-color: #b57edc;
}

label {
   color: white;
   font-size: 10px;
}

input {
  width: 90%;
padding: 10px;
margin: 5px;
border-radius: 5px;
margin-top: 10px;
cursor: pointer;
}

autre option {
  font-size: 15px;
  text-align: center;
}

